/* DEFAULTS */
* {
    margin: 0;
    padding: 0;
    /* font-family: 'Sora', sans-serif; */
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Manrope', sans-serif; */
    font-family: 'Raleway', sans-serif;
}

/* COLORS */
:root {
    --brown: #856E62;
    --tan: #D9C3A2;
    --grey-1: #CBC5BF;
    --grey-2: #A6A19C;
    --grey-3: #514F4F;
    --grey-4: #2B2B2B;
    --logo-dark: #2A2A2B;
    --off-white: #f2f2f2;
    --light-grey: #fafafa;
}

.navbar {
    font-size: 1.2rem;
}

.navbar-logo {
    width: 100px;
}

.menu-bg {
    background-color: var(--brown) !important;
}

.hero-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('/images/houses/house-10.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.banner-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: var(--off-white);
}

.banner-heavy-text {
    font-size: 3.5rem;
    font-weight: 800;
}

.banner-soft-text {
    font-size: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 400px) {
    .banner-heavy-text {
        font-size: 2.5rem;
        font-weight: 800;
    }
    .banner-soft-text {
        font-size: 1rem;
        font-weight: 100;
    }
  }

.about {
    height: 100vh;
    padding-top: 5rem;
    background-color: var(--light-grey);
}

.listings {
    height: 100vh;
    padding-top: 5rem;
}

.contact {
    height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--light-grey);
}
.contact-card {
    background-color: #ffffff;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
.contact-left-img {
    width: 100%;

    /* Original */
    /* background: linear-gradient(135deg, var(--brown) 0%, var(--grey-2) 100%); */

    /* Other Browser Gradient Support */
    /* background-color: var(--grey-2);
    background: -moz-linear-gradient(-45deg, var(--brown) 0%, var(--grey-2) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #7f279c), color-stop(100%, #2e279d));
    background: -o-linear-gradient(-45deg, var(--brown) 0%, var(--grey-2) 100%);
    background: -ms-linear-gradient(-45deg, var(--brown) 0%, var(--grey-2) 100%);
    background: -o-linear-gradient(315deg, var(--brown) 0%, var(--grey-2) 100%); */

    background: linear-gradient(120deg, var(--brown) 0%, var(--grey-2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f279c', endColorstr='#2e279d', GradientType=1 );
}
.contact-form {
    padding: 2rem;
}
.btn-brown {
    /* SOLID GREY */
    background-color: var(--grey-2) !important;

    /* SOLID TAN */
    /* background-color: var(--tan) !important; */

    /* GRADIENT FOR BUTTON IF WANTED??? */
    /* background: linear-gradient(70deg, var(--grey-2) 30%, var(--brown) 90%); */

    /* BUTTON OUTLINE */
    border: 2px solid;
    border-color: var(--grey-2);
}
.btn-brown:hover {
    border-color: var(--grey-2);
    background-color: #fff;
    border: 2px solid;
}

@media screen and (max-width: 768px) {
    .contact {
        height: 150vh;
    }
}
